{% extends 'base.html' %}
{% load static cache %}
{% block title %}Our Special Chefs - Albahaca{% endblock title %}

{% block navbar %}
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top" style="background-color: #000;">
    <div class="text-left">
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="book-a-table text-center"><a href="{% url 'book' %}">Book a table</a></li>
        </ul>
      </nav>
    </div>
    <div class="container text-right">
      <i class="fas fa-phone"></i> +1 5534 56789 10
      <i class="fas fa-clock"></i> Mon-Sat: 11:00 AM - 23:00 PM
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center" style="background-color: rgba(0,0,0,.9);">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="{% url 'home' %}"><span>Albahaca</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'menu' %}">Menu</a></li>
          <li><a href="{% url 'specials' %}">Specials</a></li>
          <li><a href="{% url 'events' %}">Events</a></li>
          <li><a href="{% url 'chefs' %}" style="color: orange;">Chefs</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>

          <li><a href="{% url 'full' %}">All Sections</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
{% endblock navbar %}
{% block content %}

  {% cache 604800 chefs %}
    <main id="main">

      <!-- ======= Chefs Section ======= -->
      <section id="chefs" class="chefs" style="margin-top: 4.5rem !important;">
        <div class="container">

          <div class="section-title">
            <h2>Our Proffesional <span>Chefs</span></h2>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
          </div>

          <div class="row">

            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chefs-1.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Master Chef</span>
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chefs-2.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Sarah Jhonson</h4>
                  <span>Patissier</span>
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6">
              <div class="member">
                <div class="pic"><img src="{% static 'assets/img/chefs/chefs-3.jpg' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>William Anderson</h4>
                  <span>Cook</span>
                  <div class="social">
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Chefs Section -->
    </main><!-- End #main -->
  {% endcache %}

{% endblock content %}